<nav>
    <ul>
        <li><a routerLink="">Inicio</a></li>
        <li><a routerLink="empleados">Empleados</a></li>
        <li><a routerLink="grupos">Grupos</a></li>
    </ul>
</nav>
<router-outlet></router-outlet>