<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">

    <div>
        <label for="name">
            Nombre
        </label>
        <input id="name" type="text" formControlName="name" maxlength="30" placeholder="Introduce tu apellido">
    </div>

    <div>
        <label for="Apellidos">
            Apellidos
        </label>
        <input id="last_name" type="text" formControlName="last_name" maxlength="30" placeholder="Introduce tu apellido">
    </div>
    <div>
        <label for="Cumpleaños">
            Cumpleaños
        </label>
        <input id="birthday" type="text" formControlName="birthday" placeholder="Example: 1987-10-11">
    </div>

    <button class="button" type="submit" [disabled]="!checkoutForm.valid">Enviar</button>

</form>