form{
    padding: 60px;
    max-width: 400px;
    background-color: #E7E7E7;
    margin: 0 auto;
  }
  
  form input{
    margin-bottom: 15px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box; 
    color: #525c66; 
    font-size: 1em;
  }
  
  form button {
    font-size: 1em;
    background-color: #0095eb;
    padding: 10px 45px 10px 45px;
    color: white;
  }
  form button:hover{
    background-color: #046193;
  }
  form button:disabled{
    background-color: #525c66;
  }