<form>
  <div class="form-group form-inline">
    Buscador <input class="form-control ml-2" type="text" [formControl]="filter" />
  </div>
</form>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Nombre</th>
      <th scope="col">Apellido</th>
      <th scope="col">Cumpleaños</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let employee of employees">
      <ngb-highlight [result]="employee.id" [term]="filter.value"></ngb-highlight>
      <td>
        <ngb-highlight [result]="employee.name" [term]="filter.value"></ngb-highlight>
      </td>
      <td>
        <ngb-highlight [result]="employee.last_name" [term]="filter.value"></ngb-highlight>
      </td>
      <td>
        <ngb-highlight [result]="employee.birthday"></ngb-highlight>
      </td>
    </tr>
  </tbody>
</table>

<div class="d-flex justify-content-between p-2">
  <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"
    (pageChange)="refreshCountries()">
  </ngb-pagination>
</div>